* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: 2rem auto;
}

.jumbotron {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

input,
button {
    width: 98%;
    padding: 0.6rem 0.4rem;
    margin: 0.4rem;
}

button {
    text-decoration: none;
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
}

.success {
    background-color: rgb(54, 80, 231);
    color: rgb(255, 255, 255);
}

.delete {
    background-color: rgb(231, 54, 54);
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

table {
    background-color: #eee;
    margin-top: .9rem;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 5px 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    margin-top: 25%;
}

p {
    text-align: center;
}